@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white;
  opacity: 0;
  animation: fadeInBody 0.7s ease-in forwards;
  animation-delay: 2s;
  overflow-y: scroll; /* Ensures scroll works correctly */
  scroll-snap-type: y mandatory; /* Enables scroll snapping in the vertical direction */
}

/* Loading Screen */
.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}

.loading-screen.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Logo Animation */
.logo {
  width: 300px;
  animation: fadeInLogo 2s ease-in forwards;
}

@keyframes fadeInLogo {
  from {
    opacity: 0;
    width: 250px;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    width: 300px;
    transform: scale(1);
  }
}

@keyframes fadeInBody {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Pulse Effect */
@keyframes pulse {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
}

.animate-pulse {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Section Styling with Snap Alignment */
.section {
  min-height: 100vh;
  scroll-snap-align: start; /* Ensures each section snaps to the top of the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
}
